.App {
  text-align: center;
  /* background-color: #282c34; */
}
.home {
  position: relative;
  width: 80vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-size: cover;
  background-position: center;
  margin: auto;
}

.home-image {
  width: 100%; /* Full width of the parent element */
  height: auto; /* Maintain aspect ratio */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cc{
  position: relative;
  width: 50vw; /* Full width of the viewport */
  /*height: 80vh;  Full height of the viewport */
  background-size: cover;
  background-position: center;
  margin: auto;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* div{
  background-color: #282c34;

} */

.App-link {
  color: #61dafb;
}
.app-image {
  /* width: 100%; Adjust the width as needed */
  height: 100%; /* Maintain aspect ratio */
  display: block; /* Prevent extra space below image */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

